USE [DSS]
GO
/****** Object:  StoredProcedure [dbo].[UspUpdateWorkCandidate]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspUpdateWorkCandidate]
GO
/****** Object:  StoredProcedure [dbo].[UspUpdateRelativeEfficiencies]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspUpdateRelativeEfficiencies]
GO
/****** Object:  StoredProcedure [dbo].[UspUpdateProjectCandidates]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspUpdateProjectCandidates]
GO
/****** Object:  StoredProcedure [dbo].[UspStartScenarioRun]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspStartScenarioRun]
GO
/****** Object:  StoredProcedure [dbo].[UspStartImportSession]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspStartImportSession]
GO
/****** Object:  StoredProcedure [dbo].[UspMoveScoreParametersToPool]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspMoveScoreParametersToPool]
GO
/****** Object:  StoredProcedure [dbo].[UspMoveRawWorkCandidatesToPoolTables]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspMoveRawWorkCandidatesToPoolTables]
GO
/****** Object:  StoredProcedure [dbo].[UspMoveRawMaintainableAssetSegmentation]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspMoveRawMaintainableAssetSegmentation]
GO
/****** Object:  StoredProcedure [dbo].[UspGetScenarioResultsForGIS]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspGetScenarioResultsForGIS]
GO
/****** Object:  StoredProcedure [dbo].[UspGetScenarioOutput]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspGetScenarioOutput]
GO
/****** Object:  StoredProcedure [dbo].[UspGetProjectCandidates]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspGetProjectCandidates]
GO
/****** Object:  StoredProcedure [dbo].[UspExportProjects]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspExportProjects]
GO
/****** Object:  StoredProcedure [dbo].[UspExportNarrowPavementTreatments]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspExportNarrowPavementTreatments]
GO
/****** Object:  StoredProcedure [dbo].[UspExportNarrowBridgeTreatments]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspExportNarrowBridgeTreatments]
GO
/****** Object:  StoredProcedure [dbo].[UspDeletePoolWorkData]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspDeletePoolWorkData]
GO
/****** Object:  StoredProcedure [dbo].[UspCreateUserPool]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspCreateUserPool]
GO
/****** Object:  StoredProcedure [dbo].[UspCreateScoreSQL]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspCreateScoreSQL]
GO
/****** Object:  StoredProcedure [dbo].[UspCompleteScenarioRun]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspCompleteScenarioRun]
GO
/****** Object:  StoredProcedure [dbo].[UspCalculateScores]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspCalculateScores]
GO
/****** Object:  StoredProcedure [dbo].[UspCalculateBenefits]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[UspCalculateBenefits]
GO
/****** Object:  StoredProcedure [dbo].[_PopulateDefaultDataInputParameters]    Script Date: 5/25/2024 4:52:30 PM ******/
DROP PROCEDURE [dbo].[_PopulateDefaultDataInputParameters]
GO
/****** Object:  StoredProcedure [dbo].[_PopulateDefaultDataInputParameters]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[_PopulateDefaultDataInputParameters] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	TRUNCATE TABLE TblDataInputParametersData
    INSERT INTO TblDataInputParametersData (DataSectionId, ItemId, [ItemValue])
SELECT
	s.Id AS SectionId,
	p.Id AS ItemId, 
--	s.Name AS SectionName,
--	p.ItemName, 
	CASE  
		WHEN p.ItemName = 'Viewable' THEN 1
		WHEN p.ItemName = 'Weight' THEN  1
		WHEN p.ItemName LIKE '%Min%' THEN 0
		ELSE 100.0
	END AS Value
FROM TblDataInputParameters p WITH (NOLOCK)
CROSS JOIN TblDataSections s WITH (NOLOCK)
WHERE s.[Name] NOT IN ('General','Other')
ORDER BY s.Name, p.ItemName
END
GO
/****** Object:  StoredProcedure [dbo].[UspCalculateBenefits]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UspCalculateBenefits]
	@WorkCandidateId UNIQUEIDENTIFIER = NULL,
	@ImportSessionId UNIQUEIDENTIFIER = NULL,
	@PoolId UNIQUEIDENTIFIER = NULL
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @RowCount BIGINT;

	PRINT 'UspCalculateBenefits - started...';

	DECLARE @Parm30VoTAuto FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B30');
	DECLARE @Parm31VoTTruck FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B31');
	DECLARE @Parm32OpCostAuto FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B32');
	DECLARE @Parm33OpCostTruck FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B33');
	DECLARE @Parm34TransitUse FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B34');
	DECLARE @Parm35FeetPerMile FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B35');
	DECLARE @Parm36BikeImprovementRadius FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B36');
	DECLARE @Parm37AdultPopFraction FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B37');
	DECLARE @Parm38ChildCyclistsFraction FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B38');
	DECLARE @Parm39NewCyclistsMult FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B39');

	DECLARE @Parm40NewCyclistBenf FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B40');
	DECLARE @Parm41Sidewalk FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B41');
	DECLARE @Parm42AccessibleDestination FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B42');
	DECLARE @Parm43DisadvantageAreaMultiplier FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B43');
	DECLARE @Parm44DaysPerYear FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B44');
	DECLARE @Parm45WetlandRestoration FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B45');
	DECLARE @Parm46WildlifeCrossing FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B46');
	DECLARE @Parm47FuelReduction FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B47');
	DECLARE @Parm48PavementBenf FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B48');
	DECLARE @Parm49BridgeBenf FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B49');

	DECLARE @Parm50CulvertBenf FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B50');
	DECLARE @Parm51GuradRailBenf FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B51');
	DECLARE @Parm52GeotechBenf FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B52');
	DECLARE @Parm53FacilitiesBenf FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B53');
	DECLARE @Parm54SidewalkBenf FLOAT = (SELECT ISNULL(Val,0) FROM TblOtherParameters WITH (NOLOCK) WHERE Code='B54');

    UPDATE TblWorkCandidates

		/*
		LOOKUP($O2,Parameters!$A$6:$C$8,3)*$R2*$V2*$M2
		*/
		SET Predicted_Safety_Benefit = ROUND(ISNULL(ADT,0) * ISNULL([Length],0) * ISNULL([Excess_Safety_Value],0) 
				* (SELECT ISNULL(Val,0) FROM TblBenefitParameters WITH (NOLOCK) WHERE Family='Safety' AND Code=ISNULL(Degree_of_Safety_Improvement,0)),1)

			/*
			=IF(OR(AU2>0,AV2>0),$AU2+$AV2,
				$R2*Parameters!$B$44
					*((1-$S2)*(Parameters!$B$30*$V2/$W2*VLOOKUP($AW2,Parameters!$A$12:$C$14,3)+Parameters!$B$32*$V2*VLOOKUP($AW2,Parameters!$A$18:$C$20,3))
						+$S2*(Parameters!$B$31*$V2/$W2*VLOOKUP($AW2,Parameters!$A$12:$C$14,3)+Parameters!$B$33*$V2*VLOOKUP($AW2,Parameters!$A$18:$C$20,3))
					))
					+$AY2*Parameters!$B$34+$X2*(PI()*Parameters!$B$36^2+2*Parameters!$B$36*$BA2/5280)
						*($Y2*Parameters!$B$37+Parameters!$B$38*(1-Parameters!$B$37))*Parameters!$B$39*Parameters!$B$40
			*/
			,Predicted_Mobility_Benefit = ROUND(CASE
											WHEN ISNULL(Travel_Time_Savings,0) > 0 OR ISNULL(Operating_Cost_Savings,0) > 0 
											THEN ISNULL(Travel_Time_Savings,0) + ISNULL(Operating_Cost_Savings,0)
											ELSE ISNULL(ADT,0) 
													* @Parm44DaysPerYear 
												    * (SELECT ISNULL(Val,0) FROM TblBenefitParameters WITH (NOLOCK) WHERE Family='TravelTime' AND Code=ISNULL(Degree_of_Mobility_Improvement,0))
													* (
															(1.0-ISNULL(Percent_Trucks,0)) * (@Parm30VoTAuto * ISNULL([Length],0) / ISNULL(Speed_Limit,35) + @Parm32OpCostAuto * ISNULL([Length],0))
															+
															ISNULL(Percent_Trucks,0) * (@Parm31VoTTruck * ISNULL([Length],0) / ISNULL(Speed_Limit,35) + @Parm33OpCostTruck * ISNULL([Length],0))
													  )
											
											END
				
						+ ISNULL(Facilitates_Transit_Use,0) * @Parm34TransitUse
						+ ISNULL(Population_Density,0) * ((PI()*@Parm36BikeImprovementRadius*@Parm36BikeImprovementRadius + 2 * @Parm36BikeImprovementRadius / @Parm35FeetPerMile * ISNULL(Bike_Lanes_Constructed,0))
														*  (ISNULL(Bike_Commute_Share,0) * @Parm37AdultPopFraction 
															+ 
															(1-@Parm37AdultPopFraction) * @Parm38ChildCyclistsFraction
															) 
								 * @Parm39NewCyclistsMult * @Parm40NewCyclistBenf),1)
															
			/*
			Parameters!$B$41*$AQ2+Parameters!$B$42*(1-$AS2+Parameters!$B$43*$AS2)*$R2*$AR2
			*/
			,Predicted_Equity_and_Access_Benefit =  ROUND(ISNULL(Sidewalks_and_Curb_Ramps_Constructed_or_Improved,0)*@Parm41Sidewalk 
				+ ISNULL(ADT,0) * ISNULL(Change_in_Accessible_Destinations,0) * @Parm42AccessibleDestination *
					(1 - ISNULL(Percent_of_Acessibilty_Improvement_for_Disadvantaged_Populations,0) + ISNULL(Percent_of_Acessibilty_Improvement_for_Disadvantaged_Populations,0) * @Parm43DisadvantageAreaMultiplier),1)
			/*
			=VLOOKUP($AK2,Parameters!$A$24:$C$26,3)*$R2*$AL2*((1-$S2)*(Parameters!$B$30/$W2+Parameters!$B$32)+$S2*(Parameters!$B$31/$W2+Parameters!$B$33))
				+Parameters!$B$45*$AM2+Parameters!$B$46*$AN2+Parameters!$B$47*$AO2
			*/
			,Predicted_Environmental_Benefit = ROUND((SELECT ISNULL(Val,0) FROM TblBenefitParameters WITH(NOLOCK) WHERE Family='Flood' AND Code=ISNULL(Reduced_Flood_Closure_Risk,0)) 
						* ISNULL(ADT,0) 
						* ISNULL(Detour_Distance,0) * ((1-ISNULL(Percent_Trucks,0) * (@Parm30VoTAuto / ISNULL(Speed_Limit,35) + @Parm32OpCostAuto) 
													+ ISNULL(Percent_Trucks,0) * @Parm31VoTTruck  +@Parm33OpCostTruck)
												) 
					+ @Parm45WetlandRestoration * ISNULL(Wetlands_Improved,0) 
					+ @Parm46WildlifeCrossing * ISNULL(Wildlife_Crossings,0) 
					+ @Parm47FuelReduction * ISNULL(Reduced_Fuel_Consumption,0),1)

			,Predicted_Condition_and_Performance_Benefit =ROUND(@Parm48PavementBenf * ISNULL(Pavement_Rehabilitated_or_Reconstructed,0)
				+ @Parm49BridgeBenf * ISNULL(Bridges_Rehabilitated_or_Replaced,0) 
				+ @Parm50CulvertBenf * ISNULL(Culverts_Rehabilitated_or_Replaced,0)
				+ @Parm51GuradRailBenf * ISNULL(Guardrail_Rehabilitated_Or_Replaced,0)
				+ @Parm52GeotechBenf * ISNULL(Geotechnical_Assets_Rehabilitated_or_Replaced,0)
				+ @Parm53FacilitiesBenf * ISNULL(Facilities_Rehabilitated_or_Reconstructed,0)
				+ @Parm54SidewalkBenf * ISNULL(Sidewalks_Rehabilitated_or_Reconstructed,0),1)

	WHERE (@WorkCandidateId IS NULL OR Id=@WorkCandidateId)
	  AND (@ImportSessionId IS NULL OR ImportSessionId=@ImportSessionId)
	  AND (@PoolId IS NULL OR PoolId=@PoolId);
	
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Number of records with partial predicted benefits updated: ' + CONVERT(VARCHAR(10),@RowCount);

	UPDATE TblWorkCandidates SET Predicted_Scaled_Benefit = (Predicted_Safety_Benefit + Predicted_Mobility_Benefit + Predicted_Equity_and_Access_Benefit 
		+ Predicted_Environmental_Benefit + Predicted_Condition_and_Performance_Benefit)
								* (SELECT BenefitScalingFactor FROM TblAssetTypeParametersData a WITH (NOLOCK)
									WHERE a.AssetType = w.AssetType),
		BenefitsComputedAt = CURRENT_TIMESTAMP
	FROM TblWorkCandidates w WITH (ROWLOCK)
	WHERE (@WorkCandidateId IS NULL OR Id=@WorkCandidateId)
	  AND (@ImportSessionId IS NULL OR ImportSessionId=@ImportSessionId)
	  AND (@PoolId IS NULL OR PoolId=@PoolId);
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Number of records with total scaled predicted benefits updated: ' + CONVERT(VARCHAR(10),@RowCount);

	PRINT 'UspCalculateBenefits - ended.';			
END
GO
/****** Object:  StoredProcedure [dbo].[UspCalculateScores]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UspCalculateScores]
	@PoolId UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @RowCount BIGINT;

	PRINT 'UspCalculateScores - started...';

	DECLARE @Stmt VARCHAR(8000);
		
	SET @Stmt = (SELECT TOP 1 ScoreSql FROM TblPoolScoreSql WITH (NOLOCK) WHERE PoolId=@PoolId AND ScoreName='Safety');
	SET @Stmt = 'UPDATE TblWorkCandidates SET ' + @Stmt + ' WHERE PoolId=CONVERT(UNIQUEIDENTIFIER,''' + CONVERT(VARCHAR(50),@PoolId) + ''')';
	PRINT @Stmt;
	EXECUTE (@Stmt);
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Records updated: ' + CONVERT(VARCHAR(10),@RowCount);

	SET @Stmt = (SELECT TOP 1 ScoreSql FROM TblPoolScoreSql WITH (NOLOCK) WHERE PoolId=@PoolId AND ScoreName='Mobility');
	SET @Stmt = 'UPDATE TblWorkCandidates SET ' + @Stmt + ' WHERE PoolId=CONVERT(UNIQUEIDENTIFIER,''' + CONVERT(VARCHAR(50),@PoolId) + ''')';
	PRINT @Stmt;
	EXECUTE (@Stmt);
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Records updated: ' + CONVERT(VARCHAR(10),@RowCount);

	SET @Stmt = (SELECT TOP 1 ScoreSql FROM TblPoolScoreSql WITH (NOLOCK) WHERE PoolId=@PoolId AND ScoreName='Equity');
	SET @Stmt = 'UPDATE TblWorkCandidates SET ' + @Stmt + ' WHERE PoolId=CONVERT(UNIQUEIDENTIFIER,''' + CONVERT(VARCHAR(50),@PoolId) + ''')';
	PRINT @Stmt;
	EXECUTE (@Stmt);
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Records updated: ' + CONVERT(VARCHAR(10),@RowCount);

	SET @Stmt = (SELECT TOP 1 ScoreSql FROM TblPoolScoreSql WITH (NOLOCK) WHERE PoolId=@PoolId AND ScoreName='Environment');
	SET @Stmt = 'UPDATE TblWorkCandidates SET ' + @Stmt + ' WHERE PoolId=CONVERT(UNIQUEIDENTIFIER,''' + CONVERT(VARCHAR(50),@PoolId) + ''')';
	PRINT @Stmt;
	EXECUTE (@Stmt);
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Records updated: ' + CONVERT(VARCHAR(10),@RowCount);

	SET @Stmt = (SELECT TOP 1 ScoreSql FROM TblPoolScoreSql WITH (NOLOCK) WHERE PoolId=@PoolId AND ScoreName='Condition');
	SET @Stmt = 'UPDATE TblWorkCandidates SET ' + @Stmt + ' WHERE PoolId=CONVERT(UNIQUEIDENTIFIER,''' + CONVERT(VARCHAR(50),@PoolId) + ''')';
	PRINT @Stmt;
	EXECUTE (@Stmt);
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Records updated: ' + CONVERT(VARCHAR(10),@RowCount);

	UPDATE TblWorkCandidates
		SET Total_Score = Safety_Score + Mobility_and_Access_Score + Equity_and_Access_Score
							+ Resilience_and_Environment_Score + Condition_and_Performance_Score,
			ScoresComputedAt=CURRENT_TIMESTAMP
	WHERE PoolId=@PoolId;

	SET @RowCount = @@ROWCOUNT;
	PRINT 'Number of records with updated total score: ' + CONVERT(VARCHAR(10),@RowCount);

	PRINT 'UspCalculateScores - ended.';			
END
GO
/****** Object:  StoredProcedure [dbo].[UspCompleteScenarioRun]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspCompleteScenarioRun] 
	@RunId UNIQUEIDENTIFIER,
	@ErrorMessage NVARCHAR(4000) = NULL
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @RowCount INT;

	PRINT 'UspCompleteScenarioRun - started...';

	IF @ErrorMessage IS NOT NULL BEGIN
		UPDATE TblScenarioRunsLog SET [Status]='Failure', EndedAt=CURRENT_TIMESTAMP, Notes=@ErrorMessage
		WHERE Id=@RunId;
	END ELSE BEGIN 
		UPDATE TblScenarioRunsLog SET [Status]='Success', EndedAt=CURRENT_TIMESTAMP, Notes=NULL 
		WHERE Id=@RunId;
	END
	
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Records updated in TblScenarioRunsLog: ' + CONVERT(VARCHAR(10), @RowCount);

	PRINT 'UspCompleteScenarioRun - ended.';
END
GO
/****** Object:  StoredProcedure [dbo].[UspCreateScoreSQL]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspCreateScoreSQL] 
	@PoolID UNIQUEIDENTIFIER
AS
BEGIN
	
	SET NOCOUNT ON;
	DECLARE @RowCount INT;
	
	PRINT 'UspCreateScoreSQL [' + CONVERT(VARCHAR(100),@PoolId) + '] - started...';

	DELETE FROM TblPoolScoreSQL WHERE PoolId=@PoolId;
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Old records deleted from TblPoolScoreSQL: ' + CONVERT(VARCHAR(10),@RowCount);

	DECLARE @SafetyStmt VARCHAR(MAX) = 'Safety_Score=' +  REPLACE(REPLACE(REPLACE(
	(
	SELECT 'UsfCalcScore([' + [Measure] + '],' 
		+ CONVERT(VARCHAR(20),[SafetyWeight]) + ','
		+ CONVERT(VARCHAR(20),[Min]) +','
		+ CONVERT(VARCHAR(20),[ScoreAtMin]) +','
		+ CONVERT(VARCHAR(20),[Max]) +','
		+ CONVERT(VARCHAR(20),[ScoreAtMax]) +','
		+ CONVERT(VARCHAR(20),[Slope])
		+')' AS C
	FROM TblPoolScoreParameters a WITH (NOLOCK) 
	WHERE PoolId=@PoolId
	 AND ISNULL(SafetyWeight,0) <> 0
	FOR XML PATH ('') ),'</C><C>','+'),'</C>',''),'<C>','');
	
	PRINT  @SafetyStmt;

	DECLARE @MobilityStmt VARCHAR(MAX) = 'Mobility_and_Access_Score=' +  REPLACE(REPLACE(REPLACE(
	(
	SELECT 'UsfCalcScore([' + [Measure] + '],' 
		+ CONVERT(VARCHAR(20),[MobilityWeight]) + ','
		+ CONVERT(VARCHAR(20),[Min]) +','
		+ CONVERT(VARCHAR(20),[ScoreAtMin]) +','
		+ CONVERT(VARCHAR(20),[Max]) +','
		+ CONVERT(VARCHAR(20),[ScoreAtMax]) +','
		+ CONVERT(VARCHAR(20),[Slope])
		+')' AS C
	FROM TblPoolScoreParameters a WITH (NOLOCK) 
	WHERE PoolId=@PoolId
	 AND ISNULL(MobilityWeight,0) <> 0
	FOR XML PATH ('') ),'</C><C>','+'),'</C>',''),'<C>','');

	PRINT  @MobilityStmt;

	DECLARE @EquityStmt VARCHAR(MAX) = 'Equity_and_Access_Score=' +  REPLACE(REPLACE(REPLACE(
	(
	SELECT 'UsfCalcScore([' + [Measure] + '],' 
		+ CONVERT(VARCHAR(20),[EquityWeight]) + ','
		+ CONVERT(VARCHAR(20),[Min]) +','
		+ CONVERT(VARCHAR(20),[ScoreAtMin]) +','
		+ CONVERT(VARCHAR(20),[Max]) +','
		+ CONVERT(VARCHAR(20),[ScoreAtMax]) +','
		+ CONVERT(VARCHAR(20),[Slope])
		+')' AS C
	FROM TblPoolScoreParameters a WITH (NOLOCK) 
	WHERE PoolId=@PoolId
	 AND ISNULL(EquityWeight,0) <> 0
	FOR XML PATH ('') ),'</C><C>','+'),'</C>',''),'<C>','');

	PRINT  @EquityStmt;

	DECLARE @EnvStmt VARCHAR(MAX) = 'Resilience_and_Environment_Score=' +  REPLACE(REPLACE(REPLACE(
	(
	SELECT 'UsfCalcScore([' + [Measure] + '],' 
		+ CONVERT(VARCHAR(20),[EnvWeight]) + ','
		+ CONVERT(VARCHAR(20),[Min]) +','
		+ CONVERT(VARCHAR(20),[ScoreAtMin]) +','
		+ CONVERT(VARCHAR(20),[Max]) +','
		+ CONVERT(VARCHAR(20),[ScoreAtMax]) +','
		+ CONVERT(VARCHAR(20),[Slope])
		+')' AS C
	FROM TblPoolScoreParameters a WITH (NOLOCK) 
	WHERE PoolId=@PoolId
	 AND ISNULL(EnvWeight,0) <> 0
	FOR XML PATH ('') ),'</C><C>','+'),'</C>',''),'<C>','');

	PRINT  @EnvStmt;

	DECLARE @CondStmt VARCHAR(MAX) = 'Condition_and_Performance_Score=' +  REPLACE(REPLACE(REPLACE(
	(
		SELECT 'UsfCalcScore([' + [Measure] + '],' 
		+ CONVERT(VARCHAR(20),[CondWeight]) + ','
		+ CONVERT(VARCHAR(20),[Min]) +','
		+ CONVERT(VARCHAR(20),[ScoreAtMin]) +','
		+ CONVERT(VARCHAR(20),[Max]) +','
		+ CONVERT(VARCHAR(20),[ScoreAtMax]) +','
		+ CONVERT(VARCHAR(20),[Slope])
		+')' AS C
	FROM TblPoolScoreParameters a WITH (NOLOCK) 
	WHERE PoolId=@PoolId
	 AND ISNULL(CondWeight,0) <> 0
	FOR XML PATH ('') ),'</C><C>','+'),'</C>',''),'<C>','');

	PRINT  @CondStmt;

	INSERT INTO TblPoolScoreSQL (PoolId, ScoreName, ScoreSQL)
	VALUES
		(@PoolId, 'Safety', REPLACE(@SafetyStmt,'UsfCalcScore', 'dbo.UsfCalcScore')),
		(@PoolId, 'Mobility', REPLACE(@MobilityStmt,'UsfCalcScore', 'dbo.UsfCalcScore')),
		(@PoolId, 'Equity', REPLACE(@EquityStmt,'UsfCalcScore', 'dbo.UsfCalcScore')),
		(@PoolId, 'Environment', REPLACE(@EnvStmt,'UsfCalcScore', 'dbo.UsfCalcScore')),
		(@PoolId, 'Condition', REPLACE(@CondStmt,'UsfCalcScore', 'dbo.UsfCalcScore'))
	
	SET @RowCount = @@ROWCOUNT;
	PRINT 'New records inserted into TblPoolScoreSQL: ' + CONVERT(VARCHAR(10),@RowCount);
	
    PRINT 'UspCreateScoreSQL [' + CONVERT(VARCHAR(100),@PoolId) + '] - ended.';
END
GO
/****** Object:  StoredProcedure [dbo].[UspCreateUserPool]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspCreateUserPool]
	 @PoolName NVARCHAR(50),
	 @UserId UNIQUEIDENTIFIER,
	 @PoolId UNIQUEIDENTIFIER OUT
AS
BEGIN
	 SET NOCOUNT ON;

	 PRINT 'UspCreateUserPool [' + @PoolName + '] - started...'

	 SET @PoolId = NULL;
     DECLARE @RowCount INT;

	 INSERT INTO TblUserPools ([Name],UserId, IsActive) VALUES (@PoolName, @UserId, 1);

	 SET @RowCount = @@ROWCOUNT;
	 PRINT 'Records inserted into TblUserPools: ' + CONVERT(VARCHAR(10),@RowCount);

	 IF @RowCount < 1 RETURN;

	 SELECT @PoolId = Id FROM TblUserPools WITH (NOLOCK) WHERE UserId=@UserId AND [Name]=@PoolName;

	 PRINT '@PoolId=[' + CONVERT(VARCHAR(100),@PoolId) +']';
 
	 INSERT INTO dbo.TblPoolScoreParameters
           (PoolId
           ,Measure
           ,[Min]
           ,ScoreAtMin
           ,[Max]
           ,ScoreAtMax
           ,Slope
           ,SafetyWeight
           ,MobilityWeight
           ,EquityWeight
           ,EnvWeight
           ,CondWeight
		   )
     SELECT @PoolId, Measure, [Min], ScoreAtMin, [Max], ScoreAtMax, Slope, SafetyWeight, MobilityWeight, EquityWeight, EnvWeight, CondWeight
	 FROM TblPoolScoreParameters p WITH (NOLOCK)
	 INNER JOIN TblUserPools u WITH (NOLOCK)
		ON u.Id = p.PoolId
	 WHERE UPPER(u.[Name]) = UPPER('Admin Pool');

	 SET @RowCount = @@ROWCOUNT;
	 PRINT 'Records inserted into TblPoolScoreParameters: ' + CONVERT(VARCHAR(10),@RowCount);

	 IF @RowCount > 0 BEGIN
		EXEC UspCreateScoreSQL @PoolId=@PoolId;
	 END


	 PRINT 'UspCreateUserPool [' + @PoolName + '] - ended.'
END
GO
/****** Object:  StoredProcedure [dbo].[UspDeletePoolWorkData]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspDeletePoolWorkData] 
	@PoolId UNIQUEIDENTIFIER
AS
BEGIN
	
	SET NOCOUNT ON;
	DECLARE @RowCount INT;

	DELETE FROM TblWorkCandidates WHERE PoolId=@PoolId;
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Records deleted from TblWorkCandidates: ' + CONVERT(VARCHAR(10),@RowCount);

	DELETE FROM TblProjectCandidates WHERE PoolId=@PoolId;
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Records deleted from TblProjectCandidates: ' + CONVERT(VARCHAR(10),@RowCount);
    
END
GO
/****** Object:  StoredProcedure [dbo].[UspExportNarrowBridgeTreatments]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UspExportNarrowBridgeTreatments] 
	@PoolId UNIQUEIDENTIFIER = NULL,
	@RelativeEfficiencyThreshold FLOAT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @SimulationId UNIQUEIDENTIFIER = NEWID();

	SELECT 
		@SimulationId AS [SimulationId]
		,m.NetworkId AS [NetworkId]
		,m.Assetid AS [AssetId]
		,w.District AS [District]
		,w.Cnty AS [Cnty]
		,w.[Route] AS [Route]
		,w.BRKEY AS [Asset]
		,COALESCE(m.Direction, b2p.Segment%2) AS [Direction]
		,b2p.Segment AS [Segment]

		,w.[Year] AS [Year]
		,w.MinYear AS [MinYear]
		,w.MaxYear AS [MaxYear]
		,w.Treatment AS [Treatment]
		,w.Cost AS [Cost]
		,w.Predicted_Scaled_Benefit AS [Benefit]
		,m.Risk AS [Risk]
		,0.0 AS [RemainingLife]
		,3 AS [PriorityOrder]
		,0 AS [TreatmentFundingIgnoresSpendingLimit]
		,'Undefined' AS [TreatmentStatus]
		,'Undefined' AS [TreatmentCause]
		,'' AS [Budget]
		,[Category] = 'User'
		,[Interstate] = CASE WHEN ISNULL(m.Interstate,0) = 0 THEN 'N' ELSE 'Y' END 
		,w.BRKEY AS [BRKEY]
		,b2p.Offset AS [Offset]
	FROM TblWorkCandidates w WITH (NOLOCK)
	INNER JOIN TblProjectCandidates p WITH (NOLOCK)
		ON p.PoolId=w.PoolId AND p.Id = w.ProjectCandidateId
	INNER JOIN TblBridgeToPavements b2p WITH (NOLOCK)
		ON b2p.BRKEY=w.BRKEY
	LEFT OUTER JOIN TblMaintainableAssetSegmentation m WITH (NOLOCK)
		ON m.District = w.District
		AND m.Cnty=w.Cnty
		AND m.[Route]=w.[Route]
		AND b2p.Segment BETWEEN m.FromSection AND m.ToSection
	WHERE w.AssetType = 'B' 
	  AND (@PoolId IS NULL OR w.PoolId = @PoolId )
	  AND (@RelativeEfficiencyThreshold IS NULL OR ISNULL(p.RelativeEfficiency,0) >= @RelativeEfficiencyThreshold)
	ORDER BY p.RelativeEfficiency DESC, w.District, w.Cnty, w.[Route], w.FromSection
END
GO
/****** Object:  StoredProcedure [dbo].[UspExportNarrowPavementTreatments]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspExportNarrowPavementTreatments] 
	@PoolId UNIQUEIDENTIFIER = NULL,
	@RelativeEfficiencyThreshold FLOAT = NULL
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @SimulationId UNIQUEIDENTIFIER = NEWID();

	SELECT 
		 @SimulationId AS [SimulationId]
		,m.NetworkId AS [NetworkId]
		,m.AssetId AS [AssetId]
		,w.District
		,w.Cnty
		,w.[Route]
		,COALESCE(m.Asset, CONVERT(VARCHAR(10),w.Cnty) + '_' + CONVERT(VARCHAR(10),w.[Route])+ '_' 
			+ CONVERT(VARCHAR(10), w.[FromSection]%2) + '_' + CONVERT(VARCHAR(10), w.FromSection) + '-' + CONVERT(VARCHAR(10), w.ToSection)) AS [Asset]
		,COALESCE(m.Direction, w.FromSection%2) AS [Direction]
		,w.FromSection AS [FromSection]
		,w.ToSection AS [ToSection]
		,w.[Year] AS [Year]
		,w.[MinYear] AS [MinYear]
		,w.[MaxYear] AS [MaxYear]
		,[Interstate] = CASE WHEN ISNULL(m.Interstate,0)=0 THEN 'N' ELSE 'Y' END
		,w.Treatment AS [Treatment]
		,w.Cost  AS [Cost]
		,w.Predicted_Scaled_Benefit AS [Benefit]
	    ,m.Risk AS [Risk]
		,0.0 AS [RemainingLife]
		,3 AS [PriorityOrder]
		,0 AS [TreatmentFundingIgnoresSpendingLimit]
		,'Undefined' AS [TreatmentStatus]
		,'Undefined' AS [TreatmentCause]
		,[Budget] = 'District_' + (CASE WHEN w.District < 10 THEN '0' ELSE '' END) + CONVERT(VARCHAR(2),w.District) + (CASE WHEN ISNULL(m.Interstate,0)=1 THEN '_Interstate' ELSE '' END)
		,[Category] = 'User'
	FROM TblWorkCandidates w WITH (NOLOCK)
	INNER JOIN TblProjectCandidates p WITH (NOLOCK)
		ON p.PoolId=w.PoolId AND p.Id = w.ProjectCandidateId
	LEFT OUTER JOIN TblMaintainableAssetSegmentation m WITH (NOLOCK)
		ON m.District=w.District
	   AND m.Cnty=w.Cnty
	   AND m.[Route]=w.[Route]
	   AND m.FromSection=w.FromSection
	   AND m.ToSection=w.ToSection
	WHERE w.AssetType = 'P' 
	  AND (@PoolId IS NULL OR w.PoolId = @PoolId )
	  AND (@RelativeEfficiencyThreshold IS NULL OR ISNULL(p.RelativeEfficiency,0) >= @RelativeEfficiencyThreshold)
	ORDER BY p.RelativeEfficiency DESC, w.Cost DESC, w.District, w.Cnty, w.[Route], w.FromSection
END
GO
/****** Object:  StoredProcedure [dbo].[UspExportProjects]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspExportProjects]
	@PoolId UNIQUEIDENTIFIER = NULL,
	@RelativeEfficiencyThreshold FLOAT = NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT p.Id AS [ProjectId]
		,COALESCE(t.[Name],'DSS') AS [PlanningPartner]
		, District AS [District]
		, Cnty AS [Cnty]
		, p.[Description]
		, p.Treatment
		, p.YearEarliest AS [MinYear]
		, p.YearLatest AS [MaxYear]
		, NumberOfWorkCandidates AS [NumberOfWorkCandidates]
		, TotalCost AS [Cost]
		, TotalScaledBenefit AS [ScaledBenefit]
		, SafetyScore AS [SafetyScore]
		, MobilityAndEconomyScore AS [MobilityAndEconomyScore]
		, EquityAndAccessScore AS [EquityAndAccessScore]
		, ResilienceAndEnvironmentScore AS [ResilienceAndEnvironmentScore]
		, ConditionAndPerformanceScore AS [onditionAndPerformanceScore]
		, TotalScore AS [TotalScore]
		, RelativeEfficiency AS [RelativeEfficiency]
	FROM TblProjectCandidates p WITH (NOLOCK)
	LEFT OUTER JOIN TblUserPools up WITH (NOLOCK )
		ON up.Id = p.PoolId
	LEFT OUTER JOIN AbpUsers u WITH (NOLOCK)
		ON u.Id=up.UserId
	LEFT OUTER JOIN AbpTenants t WITH (NOLOCK)
		ON t.Id = u.TenantId
	WHERE (@PoolId IS NULL OR p.PoolId=@PoolId)
	  AND (@RelativeEfficiencyThreshold IS NULL OR ISNULL(p.RelativeEfficiency,0) >= @RelativeEfficiencyThreshold)
	ORDER BY RelativeEfficiency DESC, TotalCost DESC, District, Cnty, p.Id
    
END
GO
/****** Object:  StoredProcedure [dbo].[UspGetProjectCandidates]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspGetProjectCandidates] 
	 @ScenId UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @PoolId UNIQUEIDENTIFIER = NULL;
	
	IF @ScenId IS NOT NULL BEGIN
		SET @PoolId = (SELECT PoolId FROM TblScenarios WITH (NOLOCK) WHERE Id=@ScenId);
	END

	PRINT '@PoolId=' + CONVERT(VARCHAR(50), @PoolId);

	/* 
	IF @ScenId IS NOT NULL BEGIN
		SELECT p.ID AS PId,
			   ROW_NUMBER() OVER(ORDER BY p.ID) AS PNo,
			   TotalCost AS C1,
			   S1 = (SELECT dbo.UsfGetScaledScore(p.SafetyScore, 'Safety')),
			   S2 = (SELECT dbo.UsfGetScaledScore(p.MobilityAndEconomyScore, 'Mobility')),
			   S3 = (SELECT dbo.UsfGetScaledScore(p.EquityAndAccessScore, 'Equity')),
			   S4 = (SELECT dbo.UsfGetScaledScore(p.ResilienceAndEnvironmentScore, 'Resilience')),
			   S5 = (SELECT dbo.UsfGetScaledScore(p.ConditionAndPerformanceScore, 'Condition'))
		FROM TblProjectCandidates p WITH (NOLOCK)
		WHERE (@PoolId IS NULL OR PoolId = @PoolId);
	END ELSE BEGIN
		SELECT TOP 1 p.ID AS PId,
			   ROW_NUMBER() OVER(ORDER BY p.ID) AS PNo,
			   TotalCost AS C1,
			   S1 = (SELECT dbo.UsfGetScaledScore(p.SafetyScore, 'Safety')),
			   S2 = (SELECT dbo.UsfGetScaledScore(p.MobilityAndEconomyScore, 'Mobility')),
			   S3 = (SELECT dbo.UsfGetScaledScore(p.EquityAndAccessScore, 'Equity')),
			   S4 = (SELECT dbo.UsfGetScaledScore(p.ResilienceAndEnvironmentScore, 'Resilience')),
			   S5 = (SELECT dbo.UsfGetScaledScore(p.ConditionAndPerformanceScore, 'Condition'))
		FROM TblProjectCandidates p WITH (NOLOCK)
	END
	*/

	-- DIG 5/19/2024 - For now:
	IF @ScenId IS NOT NULL BEGIN
		SELECT p.ID AS PId,
			   ROW_NUMBER() OVER(ORDER BY p.ID) AS PNo,
			   TotalCost AS C1,
			   S1 = p.SafetyScore,
			   S2 = p.MobilityAndEconomyScore,
			   S3 = p.EquityAndAccessScore,
			   S4 = p.ResilienceAndEnvironmentScore,
			   S5 = p.ConditionAndPerformanceScore
		FROM TblProjectCandidates p WITH (NOLOCK)
		WHERE (@PoolId IS NULL OR PoolId = @PoolId);
	END ELSE BEGIN
		SELECT TOP 1 p.ID AS PId,
			   ROW_NUMBER() OVER(ORDER BY p.ID) AS PNo,
			   TotalCost AS C1,
			   S1 = p.SafetyScore,
			   S2 = p.MobilityAndEconomyScore,
			   S3 = p.EquityAndAccessScore,
			   S4 = p.ResilienceAndEnvironmentScore,
			   S5 = p.ConditionAndPerformanceScore
		FROM TblProjectCandidates p WITH (NOLOCK)
		WHERE (@PoolId IS NULL OR PoolId = @PoolId)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[UspGetScenarioOutput]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspGetScenarioOutput]
	@PoolId UNIQUEIDENTIFIER = NULL,
	@RelativeEfficiencyThreshold FLOAT = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

    EXEC dbo.UspExportProjects @PoolId=@PoolId, @RelativeEfficiencyThreshold=@RelativeEfficiencyThreshold;
	EXEC dbo.UspExportNarrowPavementTreatments @PoolId=@PoolId, @RelativeEfficiencyThreshold=@RelativeEfficiencyThreshold;
	EXEC dbo.UspExportNarrowBridgeTreatments @PoolId=@PoolId, @RelativeEfficiencyThreshold=@RelativeEfficiencyThreshold;
END
GO
/****** Object:  StoredProcedure [dbo].[UspGetScenarioResultsForGIS]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspGetScenarioResultsForGIS] 
	@ScenId UNIQUEIDENTIFIER,
	@EffThreshold FLOAT = 0
AS
BEGIN
	SET NOCOUNT ON;

	PRINT 'UspGetScenarioResultsForGIS @ScenId=[' + CONVERT(VARCHAR(100),@ScenId) + '], @EffThreshold=' + CONVERT(VARCHAR(20),@EffThreshold) + ' - started...';

	DECLARE @PoolId UNIQUEIDENTIFIER = (SELECT PoolId FROM TblScenarios WITH (NOLOCK) WHERE Id=@ScenId);
	PRINT '@PoolId=[' + CONVERT(VARCHAR(100),@PoolId) + ']';

    SELECT TOP 1 s.Id AS ScenId, s.ScenName, s.[Description], p.[Name] AS PoolName, u.[Name] AS [User],
	LastRun = (SELECT TOP 1 EndedAt FROM  TblScenarioRunsLog r WITH (NOLOCK) WHERE r.ScenId=s.Id AND [Status]='Success' AND EndedAt IS NOT NULL ORDER BY RunNo DESC)
	FROM TblScenarios s WITH (NOLOCK)
	INNER JOIN TblUserPools p WITH (NOLOCK)
		ON p.Id=s.PoolId
	LEFT OUTER JOIN AbpUsers u WITH (NOLOCK)
		ON u.Id=p.UserId
	WHERE s.Id=@ScenId;

	SELECT p.Id AS [ProjectId]
		,COALESCE(t.[Name],'DSS') AS [PlanningPartner]
		, p.District AS [District]
		, p.Cnty AS [Cnty]
		, c.County
		, p.[Description]
		, p.Treatment
		, p.YearEarliest AS [MinYear]
		, p.YearLatest AS [MaxYear]
		, NumPave = (SELECT COUNT(1) FROM TblWorkCandidates w WHERE w.ProjectCandidateId = p.Id AND w.AssetType='P')
		, NumBridge = (SELECT COUNT(1) FROM TblWorkCandidates w WHERE w.ProjectCandidateId = p.Id AND w.AssetType='B')
		, TotalCost AS [Cost]
		, TotalScaledBenefit AS [Benefit]
		, RelativeEfficiency AS [Efficiency]
	FROM TblProjectCandidates p WITH (NOLOCK)
	INNER JOIN TblUserPools up WITH (NOLOCK )
		ON up.Id = p.PoolId
	LEFT OUTER JOIN TblCounties c WITH (NOLOCK)
		ON c.Cnty=p.Cnty
	LEFT OUTER JOIN AbpUsers u WITH (NOLOCK)
		ON u.Id=up.UserId
	LEFT OUTER JOIN AbpTenants t WITH (NOLOCK)
		ON t.Id = u.TenantId
	WHERE (@PoolId IS NULL OR p.PoolId=@PoolId)
	  AND (@EffThreshold IS NULL OR ISNULL(p.RelativeEfficiency,0) >= @EffThreshold)
	ORDER BY RelativeEfficiency DESC, TotalCost DESC, District, Cnty, p.Id;

	SELECT   w.ProjectCandidateId AS [ProjId]
		,w.Id AS [TreatId]
		,t.[Name] AS [Partner]
		,w.AssetType
		,w.Treatment
		,w.District
		,w.Cnty
		,c.County
		,w.[Route]
		,w.FromSection AS [FromSection]
		,w.ToSection AS [ToSection]
		,w.BRKEY
		,w.BRIDGE_ID AS [BMSID]
		,COALESCE(m.Asset, CONVERT(VARCHAR(10),w.Cnty) + '_' + CONVERT(VARCHAR(10),w.[Route])+ '_' 
			+ CONVERT(VARCHAR(10), w.[FromSection]%2) + '_' + CONVERT(VARCHAR(10), w.FromSection) + '-' + CONVERT(VARCHAR(10), w.ToSection)) AS [CRS]
		,COALESCE(m.Direction, w.FromSection%2) AS [Direction]
		,w.[Year] AS [Year]
		,w.Cost  AS [Cost]
		,w.Predicted_Scaled_Benefit AS [Benefit]
	    ,CASE WHEN w.Cost <= 0 THEN 0 ELSE w.Predicted_Scaled_Benefit/w.Cost END AS [BCRatio]
	FROM TblWorkCandidates w WITH (NOLOCK)
	INNER JOIN TblProjectCandidates p WITH (NOLOCK)
		ON p.PoolId=w.PoolId AND p.Id = w.ProjectCandidateId
    INNER JOIN TblCounties c WITH (NOLOCK)
		ON c.Cnty = w.Cnty
	LEFT OUTER JOIN TblMaintainableAssetSegmentation m WITH (NOLOCK)
		ON m.District=w.District
	   AND m.Cnty=w.Cnty
	   AND m.[Route]=w.[Route]
	   AND m.FromSection=w.FromSection
	   AND m.ToSection=w.ToSection
	INNER JOIN TblUserPools up WITH (NOLOCK )
		ON up.Id = p.PoolId
	LEFT OUTER JOIN AbpUsers u WITH (NOLOCK)
		ON u.Id=up.UserId
	LEFT OUTER JOIN AbpTenants t WITH (NOLOCK)
		ON t.Id = u.TenantId
	WHERE (@PoolId IS NULL OR w.PoolId = @PoolId )
	  AND (@EffThreshold IS NULL OR ISNULL(p.RelativeEfficiency,0) >= @EffThreshold)

	PRINT 'UspGetScenarioResultsForGIS @ScenId=[' + CONVERT(VARCHAR(100),@ScenId) + '], @EffThreshold=' + CONVERT(VARCHAR(20),@EffThreshold) + ' - ended.';
END
GO
/****** Object:  StoredProcedure [dbo].[UspMoveRawMaintainableAssetSegmentation]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspMoveRawMaintainableAssetSegmentation]
	@ImportSessionId UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @RowCount INT;

	PRINT 'UspMoveRawMaintainableAssetSegmentation @ImportSessionId=[' + CONVERT(VARCHAR(100), @ImportSessionId) + '] - started...';

	DELETE FROM TblMaintainableAssetSegmentation
	WHERE NetworkId IN (SELECT DISTINCT CONVERT(UNIQUEIDENTIFIER,NetworkId) FROM TblRawImportedMAS WITH (NOLOCK))
					
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Number of old records deleted from TblMaintainableAssetSegmentation: ' + CONVERT(VARCHAR(10),@RowCount);

	INSERT INTO TblMaintainableAssetSegmentation
		(NetworkId
		,AssetId
		,District
		,Cnty
		,[Route]
		,Asset
		,Direction
		,FromSection
		,ToSection
		,Area
		,Interstate
		,Lanes
		,Width
		,[Length]
		,SurfaceName
		,Risk
		)
	SELECT 
		CONVERT(UNIQUEIDENTIFIER,NetworkId)
      , CONVERT(UNIQUEIDENTIFIER,AssetId)
      ,District
      ,Cnty
      ,[Route]
      ,Asset
      ,Direction
      ,FromSection
      ,ToSection
      ,Area
      ,CONVERT(BIT,CASE Interstate WHEN 'Y' THEN 1 ELSE 0 END) AS Interstate
      ,Lanes
      ,Width
      ,[Length]
      ,SurfaceName
      ,Risk
	 FROM TblRawImportedMAS WITH (NOLOCK)

	SET @RowCount = @@ROWCOUNT;
	PRINT 'Number of recordsinserted into TblMaintainableAssetSegmentation: ' + CONVERT(VARCHAR(10),@RowCount);

	PRINT 'UspMoveRawMaintainableAssetSegmentation @ImportSessionId=[' + CONVERT(VARCHAR(100), @ImportSessionId) + '] - ended.';
END
GO
/****** Object:  StoredProcedure [dbo].[UspMoveRawWorkCandidatesToPoolTables]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspMoveRawWorkCandidatesToPoolTables]
	 @SessionId UNIQUEIDENTIFIER,
	 @PoolId UNIQUEIDENTIFIER
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowCount BIGINT;

	PRINT 'UspMoveRawWorkCandidatesToPoolTables - started...';

	CREATE TABLE #PotentialDuplicates (
		ProjectId NVARCHAR(50),
		District TINYINT,
		Cnty TINYINT,
		[Route] INT,
		FromSection INT,
		ToSection INT,
		BRKEY NVARCHAR(50),
		AssetType NVARCHAR(1),
		[Description] NVARCHAR(255),
		Treatment NVARCHAR(50),
		MinYear INT,
		MaxYear INT,
		[Year] INT,
		Cost FLOAT
		);

	INSERT INTO #PotentialDuplicates (ProjectId, District, Cnty, [Route], FromSection, ToSection, BRKEY, AssetType, [Description], Treatment, MinYear, MaxYear, [Year], Cost)
	SELECT ProjectId, District, Cnty = (SELECT TOP 1 Cnty FROM TblCounties WITH (NOLOCK) WHERE UPPER(County) = a.County), 
		[Route], FromSection, ToSection, BRKEY, AssetType, [Description], Treatment, MinYear, MaxYear, [Year], Cost FROM TblRawImportedWorkCandidates a WITH (NOLOCK);

	SET @RowCount = @@ROWCOUNT;
	PRINT 'Records inserted into #PotentialDuplicates: ' + CONVERT(VARCHAR(10),@RowCount);

	--SELECT * FROM #PotentialDuplicates;

	CREATE TABLE #DuplicateIDs (
		Id UNIQUEIDENTIFIER
		);

	INSERT INTO #DuplicateIDs (Id)
	SELECT Id FROM TblWorkCandidates w WITH (NOLOCK)
	INNER JOIN #PotentialDuplicates d 
		ON d.ProjectId=w.ProjectName
	   AND d.District=w.District
	   AND d.Cnty=w.Cnty
	   AND d.AssetType = w.AssetType 
	   AND ((d.AssetType='P' AND d.FromSection = w.FromSection AND d.ToSection = w.ToSection) OR (d.AssetType = 'B' AND d.BRKEY = w.BRKEY))
	   AND ISNULL(d.[Description] ,'') = ISNULL(w.[Description],'')
	   AND ISNULL(d.Treatment,'') = ISNULL(w.Treatment,'')
	   AND d.MinYear = w.MinYear
	   AND d.MaxYear = w.MaxYear
	   AND d.[Year] = w.[Year]
	   AND d.Cost = w.Cost
	WHERE w.PoolId = @PoolId;
    
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Records inserted into #DuplicateIds: ' + CONVERT(VARCHAR(10),@RowCount);

	DROP TABLE #PotentialDuplicates;

	--SELECT * FROM #DuplicateIDs;

	DELETE FROM dbo.TblWorkCandidates 
	WHERE PoolId=@PoolId
		 AND Id IN (SELECT Id FROM #DuplicateIDs);

	SET @RowCount = @@ROWCOUNT;
	PRINT 'Duplicate records deleted from TblWideImportedWorkCandidates: ' + CONVERT(VARCHAR(10), @RowCount);

	DROP TABLE #DuplicateIDs;
		
    INSERT INTO dbo.TblWorkCandidates
           (ImportSessionId
           ,PoolId

           ,ProjectName
           ,District
           ,Cnty
           ,[Route]
           ,AssetType
           ,FromSection
           ,ToSection
           ,BRKEY
           ,BRIDGE_ID
           ,[Description]
           ,Cost

           ,HSIP_Eligible
           ,Excess_Safety_Value
           ,Supported_by_RSA_Safety_Study
           ,Degree_of_Safety_Improvement
           ,Supports_Hazard_Mitigation
           ,Improves_Access_to_Emergency_Services

           ,Travel_Time_Savings
           ,Operating_Cost_Savings
           ,Degree_of_Mobility_Improvement
           ,Freight_Improvement
           ,Facilitates_Transit_Use
           ,Facilitates_Active_Transportation
           ,Bike_Lanes_Constructed
           ,Support_for_Job_Growth
           ,Support_for_Tourism
           ,Support_for_Economic_Goals
           ,Support_for_Recreation
           ,Consistency_with_Existing_Plans

           ,Sidewalks_and_Curb_Ramps_Constructed_or_Improved
           ,Change_in_Accessible_Destinations
           ,Percent_of_Acessibilty_Improvement_for_Disadvantaged_Populations
           ,Support_for_Environmental_Justice
           ,Reduced_Flood_Closure_Risk
           ,Wetlands_Improved
           ,Wildlife_Crossings
           ,Reduced_Fuel_Consumption
           ,Consistency_with_Land_Use_Plans
 
           ,Pavement_Rehabilitated_or_Reconstructed
           ,Bridges_Rehabilitated_or_Replaced
           ,Culverts_Rehabilitated_or_Replaced
           ,Guardrail_Rehabilitated_or_Replaced
           ,Geotechnical_Assets_Rehabilitated_or_Replaced
           ,Facilities_Rehabilitated_or_Reconstructed
           ,Sidewalks_Rehabilitated_or_Reconstructed

           ,ADT
           ,Percent_Trucks
           ,Population_Density
           ,Bike_Commute_Share
           ,BPN
           ,Functional_Classification
           ,National_Highway_System
           ,Pennsylvania_Byway
		   ,Degree_of_Environmental_Improvement
		   ,[Length]
		   ,Speed_Limit
		   ,Detour_Distance
		   ,Treatment
		   ,[Year]
		   ,[MinYear]
		   ,[MaxYear]
          )
	SELECT  @SessionId
		   ,@PoolId
		   ,ProjectID AS ProjectName
           ,a.District
           ,Cnty = (SELECT TOP 1 Cnty FROM TblCounties WITH (NOLOCK) WHERE UPPER(County) = a.County)
           ,[Route] = CASE AssetType WHEN 'P' THEN a.[Route] ELSE b.[Route] END
           ,AssetType
           ,FromSection = CASE AssetType WHEN 'P' THEN a.FromSection ELSE b.Segment END
           ,ToSection = CASE AssetType WHEN 'P' THEN a.ToSection ELSE b.Segment END
           ,a.BRKEY
           ,a.BRIDGE_ID
           ,[Description]
           ,Cost

           ,HSIP_Eligible
           ,Excess_Safety_Value
           ,Supported_by_RSA_Safety_Study
           ,Degree_of_Safety_Improvement
           ,Supports_Hazard_Mitigation
           ,Improves_Access_to_Emergency_Services

           ,Travel_Time_Savings
           ,Operating_Cost_Savings
           ,Degree_of_Mobility_Improvement
  
           ,Freight_Improvement
           ,Facilitates_Transit_Use
           ,Facilitates_Active_Transportation
           ,Bike_Lanes_Constructed
           ,Support_for_Job_Growth
           ,Support_for_Tourism
           ,Support_for_Economic_Goals
           ,Support_for_Recreation
           ,Consistency_with_Existing_Plans

           ,Sidewalks_and_Curb_Ramps_Constructed_or_Improved
           ,Change_in_Accessible_Destinations
           ,Percent_of_Acessibilty_Improvement_for_Disadvantaged_Populations
           ,Support_for_Environmental_Justice
           ,Reduced_Flood_Closure_Risk
           ,Wetlands_Improved
           ,Wildlife_Crossings
           ,Reduced_Fuel_Consumption
           ,Consistency_with_Land_Use_Plans
 
           ,Pavement_Rehabilitated_or_Reconstructed
           ,Bridges_Rehabilitated_or_Replaced
           ,Culverts_Rehabilitated_or_Replaced
           ,Guardrail_Rehabilitated_or_Replaced
           ,Geotechnical_Assets_Rehabilitated_or_Replaced
           ,Facilities_Rehabilitated_or_Reconstructed
           ,Sidewalks_Rehabilitated_or_Reconstructed

           ,ADT
           ,Percent_Trucks
           ,Population_Density
           ,Bike_Commute_Share
           ,BPN
           ,Functional_Classification
           ,National_Highway_System
           ,Pennsylvania_Byway
		   ,Degree_of_Environmental_Improvement
		   ,[Length]
		   ,Speed_Limit
		   ,Detour_Distance
		   ,Treatment
		   ,[Year]
		   ,[MinYear]
		   ,[MaxYear]
		FROM TblRawImportedWorkCandidates a WITH (NOLOCK)
		LEFT OUTER JOIN TblBridgeToPavements b WITH (NOLOCK)
			ON b.BRKEY=a.BRKEY;

		SET @RowCount = @@ROWCOUNT;

		PRINT 'New records inserted into TblWideImportedWorkCandidates: ' + CONVERT(VARCHAR(10), @RowCount);

		EXEC dbo.UspCalculateBenefits @ImportSessionId=@SessionId;
		EXEC UspCalculateScores @PoolId=@PoolId;
		EXEC dbo.UspUpdateProjectCandidates @PoolId=@PoolId, @CreateOrUpdate='C';

		PRINT 'UspMoveRawWorkCandidatesToPoolTables - ended.';
END
GO
/****** Object:  StoredProcedure [dbo].[UspMoveScoreParametersToPool]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspMoveScoreParametersToPool]
	@PoolId UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @RowCount INT;

    PRINT 'dbo.UspMoveScoreParametersToPool [' + CONVERT(VARCHAR(50),@PoolId) + '] - started...';

	DELETE FROM TblPoolScoreParameters WHERE PoolId = @PoolId;
	SET @RowCount = @@ROWCOUNT;
	PRINT 'Old records deleted from TblPoolScoreParameters: ' + CONVERT(VARCHAR(10),@RowCount);

	INSERT INTO TblPoolScoreParameters(PoolId, Measure, [Min], ScoreAtMin, [Max], ScoreAtMax, Slope, SafetyWeight, MobilityWeight, EquityWeight, EnvWeight, CondWeight)
	SELECT @PoolId, Measure, 
		ISNULL(CONVERT(FLOAT,[Min]), 0),
		ISNULL(CONVERT(FLOAT,ScoreAtMin),0), 
		ISNULL(CONVERT(FLOAT,[Max]),0), 
		ISNULL(CONVERT(FLOAT,[ScoreAtMax]),0),
		CASE WHEN (ISNULL(CONVERT(FLOAT,[Max],0),0) = ISNULL(CONVERT(FLOAT,[Min]),0)) THEN 0
		     ELSE (ISNULL(CONVERT(FLOAT,ScoreAtMax),0) - ISNULL(CONVERT(FLOAT,ScoreAtMin),0)) / (ISNULL(CONVERT(FLOAT,[Max]),0) - ISNULL(CONVERT(FLOAT,[Min]),0))
		END AS [Slope],
		ISNULL(CONVERT(FLOAT,[SafetyWeight]), 0),
		ISNULL(CONVERT(FLOAT,[MobilityWeight]), 0),
		ISNULL(CONVERT(FLOAT,[EquityWeight]),0), 
		ISNULL(CONVERT(FLOAT,[EnvWeight]),0), 
		ISNULL(CONVERT(FLOAT,[CondWeight]),0)
	FROM TblRawImportedScoreParameters WITH (NOLOCK)
	SET @RowCount = @@ROWCOUNT;
	PRINT 'New records inserted into from TblPoolScoreParameters: ' + CONVERT(VARCHAR(10),@RowCount);

	PRINT 'dbo.UspMoveScoreParametersToPool [' + CONVERT(VARCHAR(50),@PoolId) + '] - ended.'
END
GO
/****** Object:  StoredProcedure [dbo].[UspStartImportSession]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UspStartImportSession] 
	@ImportSourceType VARCHAR(10),  -- Like  'WorkCand'
	@ImportSourceName NVARCHAR(50) = NULL, -- Like 'Northwest RPO'
	@DataSourceType VARCHAR(10), -- Like 'XLSX'
	@DataSourceName NVARCHAR(255), -- e.g., path to the Excel file
	@PoolId UNIQUEIDENTIFIER,
	@Guid UNIQUEIDENTIFIER OUT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Identity INT;

    INSERT INTO TblImportSessions (ImportSourceType, ImportSourceName, DataSourceType, DataSourceName, PoolId)
	VALUES (@ImportSourceType, @ImportSourceName, @DataSourceType, @DataSourceName, @PoolId);

	SELECT @Identity = @@IDENTITY;

	SELECT @Guid = Id FROM TblImportSessions WITH (NOLOCK) WHERE SessionNo = @Identity;

	RETURN @Identity;
END
GO
/****** Object:  StoredProcedure [dbo].[UspStartScenarioRun]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UspStartScenarioRun] 
	@ScenId UNIQUEIDENTIFIER,
	@Guid UNIQUEIDENTIFIER OUT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Identity INT;

	INSERT INTO TblScenarioRunsLog (ScenId, ScenNo, [Status])
	SELECT Id, ScenNo, 'Running' FROM TblScenarios WITH (NOLOCK)
	WHERE Id=@ScenId;

	SELECT @Identity = @@IDENTITY;

	SELECT @Guid = Id FROM TblScenarioRunsLog  WITH (NOLOCK) WHERE RunNo = @Identity;

	RETURN @Identity;
END
GO
/****** Object:  StoredProcedure [dbo].[UspUpdateProjectCandidates]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspUpdateProjectCandidates]
	@PoolId UNIQUEIDENTIFIER = NULL,
	@CreateOrUpdate CHAR(1),
	@ProjectId UNIQUEIDENTIFIER = NULL
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @Rowcount BIGINT;

    PRINT 'dbo.UspUpdateProjectCandidates [' + @CreateOrUpdate + ']  - started...';

	IF @CreateOrUpdate = 'C' BEGIN
		IF @PoolID IS NULL BEGIN
			TRUNCATE TABLE TblProjectCandidates
			PRINT 'Table TblProjCandidates truncated'
		END ELSE BEGIN
			DELETE FROM TblProjectCandidates WHERE PoolId=@PoolId;
			SET @Rowcount = @@ROWCOUNT;
			PRINT 'Number of old records deleted from TblProjCandidates: ' + CONVERT(VARCHAR(10), @Rowcount);
		END
	END

	DECLARE @NewProjId UNIQUEIDENTIFIER = NEWID();

	CREATE TABLE #Projects (
		Id UNIQUEIDENTIFIER,
		PoolId UNIQUEIDENTIFIER,
		District TINYINT,
		Cnty TINYINT,
		ProjectName NVARCHAR(50),
		[Description] NVARCHAR(255),
		Treatment NVARCHAR(MAX),
		YearEarliest INT,
		YearLatest INT,
		NumberOfWorkCandidates INT,
		TotalCost FLOAT,
		TotalScaledBenefit FLOAT,
		SafetyScore FLOAT,
		MobilityAndEconomyScore FLOAT,
		EquityAndAccessScore FLOAT,
		ResilienceAndEnvironmentScore FLOAT,
		ConditionAndPerformanceScore FLOAT
		);

	INSERT INTO #Projects (
		Id,
		PoolId,
		District,
		Cnty,
		ProjectName,
		[Description],
		Treatment,
		YearEarliest,
		YearLatest,
		NumberOfWorkCandidates,
		TotalCost,
		TotalScaledBenefit,
		SafetyScore,
		MobilityAndEconomyScore,
		EquityAndAccessScore,
		ResilienceAndEnvironmentScore,
		ConditionAndPerformanceScore
		)
	SELECT 
		MAX(ProjectCandidateId) AS ProjectId, 
		PoolId, 
		MAX(District) AS District,
		MAX(Cnty) AS Cnty, 
		ProjectName,
	   'Project ' + ProjectName AS [Description], 
	   Treatment = REPLACE(REPLACE(REPLACE((SELECT DISTINCT Treatment AS Q FROM TblWorkCandidates v WITH (NOLOCK)
					WHERE (@PoolId IS NULL OR PoolId = @PoolId)
					  AND (@ProjectId IS NULL OR ProjectCandidateId = @ProjectId OR @CreateOrUpdate = 'C')
					  AND v.ProjectName = w.ProjectName
					GROUP BY Treatment, PoolId,  ProjectCandidateId
					ORDER BY 1 DESC
					FOR XML PATH ('')
					), '</Q><Q>', '+'),'<Q>',''),'</Q>',''),
		MIN(ISNULL(MinYear,9999)) AS YearEarliest,
		MAX(ISNULL(MaxYear,0)) AS YearLatest,
	    COUNT(1) AS NumberOfCandidates,
		SUM(Cost) AS TotalCost,
		SUM(Predicted_Scaled_Benefit) AS TotalScaledBenefit,
		SUM(Safety_Score) AS SafetyScore,
		SUM(Mobility_and_Access_Score) AS MobilityAndEconomyScore,
		SUM(Equity_and_Access_Score) AS EquityAndAccessScore,
		SUM(Resilience_and_Environment_Score) AS ResilienceAndEnvironmentScore,
		SUM(Condition_and_Performance_Score) AS ConditionAndPerformnceScore
	FROM TblWorkCandidates w WITH (NOLOCK)
	WHERE (@PoolId IS NULL OR PoolId = @PoolId)
	  AND (@ProjectId IS NULL OR ProjectCandidateId = @ProjectId OR @CreateOrUpdate = 'C')
	GROUP BY PoolId,  ProjectCandidateId, ProjectName
	ORDER BY CONVERT(INT,ProjectName);

	SET @RowCount = @@ROWCOUNT;
	PRINT 'Number of records inserted into #Projects: ' + CONVERT(VARCHAR(10),@RowCount);

	UPDATE #Projects SET Id = COALESCE(Id, NEWID());

	-- SELECT * FROM #Projects;

	IF @CreateOrUpdate = 'C' BEGIN
		INSERT INTO TblProjectCandidates (Id, PoolId, District, Cnty, [Description], Treatment,
			NumberOfWorkCandidates, TotalCost, TotalScaledBenefit,
			SafetyScore, MobilityAndEconomyScore, EquityAndAccessScore, ResilienceAndEnvironmentScore, ConditionAndPerformanceScore, TotalScore,
			YearEarliest, YearLatest)
		SELECT Id, PoolId, District, Cnty, [Description], Treatment,
			NumberOfWorkCandidates, TotalCost, TotalScaledBenefit,
			SafetyScore, MobilityAndEconomyScore, EquityAndAccessScore, ResilienceAndEnvironmentScore, ConditionAndPerformanceScore,
			SafetyScore + MobilityAndEconomyScore + EquityAndAccessScore + ResilienceAndEnvironmentScore + ConditionAndPerformanceScore AS TotalScore,
			YearEarliest, YearLatest
		FROM #Projects

		SET @RowCount = @@ROWCOUNT;
		PRINT 'Number of records inserted into TblProjectCandidates: ' + CONVERT(VARCHAR(10),@RowCount);

		UPDATE TblWorkCandidates 
		SET ProjectCandidateId = (SELECT Id FROM #Projects p WHERE p.PoolId = w.PoolId AND p.ProjectName=w.ProjectName)
		FROM TblWorkCandidates w WITH (ROWLOCK)
		WHERE w.ProjectCandidateId IS NULL
		  AND (@PoolId IS NULL OR w.PoolId=@PoolId)

		SET @RowCount = @@ROWCOUNT;
		PRINT 'Number of records in TblWorkCandidates where PoolCandidateId column was updated: ' + CONVERT(VARCHAR(10),@RowCount);
	END ELSE BEGIN
		UPDATE TblProjectCandidates
			SET District = p.District,
				Cnty = p.Cnty,
				[Description] = p.[Description],
				Treatment= p.Treatment,
				NumberOfWorkCandidates = p.NumberOfWorkCandidates,
				TotalCost = p.TotalCost, TotalScaledBenefit = p.TotalScaledBenefit,
				SafetyScore = p.SafetyScore, 
				MobilityAndEconomyScore = p.MobilityAndEconomyScore,
				EquityAndAccessScore = p.EquityAndAccessScore,
				ResilienceAndEnvironmentScore = p.ResilienceAndEnvironmentScore,
				ConditionAndPerformanceScore = p.ConditionAndPerformanceScore,
				TotalScore = p.SafetyScore + p.MobilityAndEconomyScore + p.EquityAndAccessScore 
							+ p.ResilienceAndEnvironmentScore + p.ConditionAndPerformanceScore,
				YearLatest = p.YearEarliest,
				YearLatest = p.YearLatest
		FROM TblProjectCandidates c WITH (ROWLOCK)
		INNER JOIN #Projects p 
			ON p.Id=c.Id
		WHERE (@ProjectId IS NULL OR p.Id=@ProjectId)
		
		SET @RowCount = @@ROWCOUNT;
		PRINT 'Number of records updated TblProjectCandidates: ' + CONVERT(VARCHAR(10),@RowCount);
	END
	
	DROP TABLE #Projects;

	PRINT 'dbo.UspUpdateProjectCandidates [' + @CreateOrUpdate + '] - ended.';  
END
GO
/****** Object:  StoredProcedure [dbo].[UspUpdateRelativeEfficiencies]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UspUpdateRelativeEfficiencies]
	 @ScenId UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @RowCount BIGINT;

    PRINT 'UspUpdateRelativeEfficiencies ScenId = [' + CONVERT(VARCHAR(50), @ScenId) + '] - started...';

	DECLARE @PoolId UNIQUEIDENTIFIER = (SELECT PoolId FROM TblScenarios WITH (NOLOCK) WHERE Id=@ScenId);
	PRINT '@PoolId=[' + CONVERT(VARCHAR(50),@PoolId) +']';

	UPDATE TblProjectCandidates
		SET RelativeEfficiency = b.RelativeEfficiency,
			RelativeEfficiencySetAt = CURRENT_TIMESTAMP
	FROM TblProjectCandidates a WITH (ROWLOCK)
	INNER JOIN TblScenarioProjectObjectiveValues b WITH (NOLOCK)
		ON b.ScenId=@ScenId AND b.ProjectId=a.Id
	WHERE a.PoolId=@PoolId;

	SET @RowCount = @@ROWCOUNT;
	PRINT 'Number of records for which relative efficiency was set in TblWorkCandidates: ' + CONVERT(VARCHAR(10),@RowCount);

	PRINT 'UspUpdateRelativeEfficiencies ScenId = [' + CONVERT(VARCHAR(50), @ScenId) + '] - ended.';
END
GO
/****** Object:  StoredProcedure [dbo].[UspUpdateWorkCandidate]    Script Date: 5/25/2024 4:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UspUpdateWorkCandidate]
	@WorkCandidateId UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @RowCount BIGINT;

	PRINT 'UspUpdateWorkCandidate - started...';

	DECLARE @PoolId UNIQUEIDENTIFIER = (SELECT TOP 1 PoolId FROM TblWorkCandidates WITH (NOLOCK) WHERE Id=@WorkCandidateId);

	IF @PoolId IS NOT NULL BEGIN
		EXEC UspCalculateBenefits @WorkCandidateId = @WorkCandidateId;
		EXEC UspCalculateScores @PoolId=@PoolId;
		DECLARE @ProjectId UNIQUEIDENTIFIER = (SELECT ProjectCandidateId FROM TblWorkCandidates WITH (NOLOCK) WHERE Id=@WorkCandidateId);
		EXEC UspUpdateProjectCandidates @PoolId=@PoolId, @CreateOrUpdate='U', @ProjectId = @ProjectId;
	END

	PRINT 'UspUpdateWorkCandidate - ended.';			
END
GO
