USE [DSS]
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetWorkTypes]    Script Date: 6/17/2024 1:01:33 PM ******/
DROP PROCEDURE [dbo].[UspUIGetWorkTypes]
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetSectionPairs]    Script Date: 6/17/2024 1:01:33 PM ******/
DROP PROCEDURE [dbo].[UspUIGetSectionPairs]
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetRoutes]    Script Date: 6/17/2024 1:01:33 PM ******/
DROP PROCEDURE [dbo].[UspUIGetRoutes]
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetMobilityImprovementDegree]    Script Date: 6/17/2024 1:01:33 PM ******/
DROP PROCEDURE [dbo].[UspUIGetMobilityImprovementDegree]
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetFunctionalClassification]    Script Date: 6/17/2024 1:01:33 PM ******/
DROP PROCEDURE [dbo].[UspUIGetFunctionalClassification]
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetEnvironmentalBenefitDegree]    Script Date: 6/17/2024 1:01:33 PM ******/
DROP PROCEDURE [dbo].[UspUIGetEnvironmentalBenefitDegree]
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetDistricts]    Script Date: 6/17/2024 1:01:33 PM ******/
DROP PROCEDURE [dbo].[UspUIGetDistricts]
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetCounties]    Script Date: 6/17/2024 1:01:33 PM ******/
DROP PROCEDURE [dbo].[UspUIGetCounties]
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetBrkeyAndBMSID]    Script Date: 6/17/2024 1:01:33 PM ******/
DROP PROCEDURE [dbo].[UspUIGetBrkeyAndBMSID]
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetBPN]    Script Date: 6/17/2024 1:01:33 PM ******/
DROP PROCEDURE [dbo].[UspUIGetBPN]
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetBPN]    Script Date: 6/17/2024 1:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspUIGetBPN]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM (
		VALUES
			(1, 'BPN1', 'NHS Interstate'),
			(2, 'BPN2', 'NHS Non-Interstate'),
			(3, 'BPN3', 'Non-NHS with ADT >= 2,000'),
			(4, 'BPN4', 'Npn-NHS with ADT < 2,000')
		) q (Code, ShortDescr, LongDescr)
END
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetBrkeyAndBMSID]    Script Date: 6/17/2024 1:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspUIGetBrkeyAndBMSID]
	@District INT,
	@Cnty INT,
	@Route INT
AS
BEGIN
	SET NOCOUNT ON;

    SELECT BRKEY, BRIDGE_ID AS BMSID FROM TblBridgeToPavements WITH (NOLOCK)
	WHERE DISTRICT=@District AND County_Code=@Cnty AND [Route]=@Route
	ORDER BY BRKEY
END
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetCounties]    Script Date: 6/17/2024 1:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspUIGetCounties] 
	@District INT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT Cnty, County FROM TblCounties WITH (NOLOCK) WHERE District=@District ORDER BY County
END
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetDistricts]    Script Date: 6/17/2024 1:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspUIGetDistricts]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT DISTINCT District, 'District-' + CONVERT(VARCHAR(10), District) AS Descr
	FROM TblCounties WITH (NOLOCK)
	ORDER BY 1
END
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetEnvironmentalBenefitDegree]    Script Date: 6/17/2024 1:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspUIGetEnvironmentalBenefitDegree] 
AS
BEGIN
	SET NOCOUNT ON;

    SELECT * FROM (
		VALUES (2, 'Large'), (1, 'Small'), (0, 'None')
		) q (Code, Descr)
END
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetFunctionalClassification]    Script Date: 6/17/2024 1:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspUIGetFunctionalClassification] 
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM (
		VALUES	
			(1, 'Interstate'),
			(2, 'Principal Arterial - Other Freeways and Expressways'),
			(3, 'Principal Arterial - Other'),
			(4, 'Minor Arterial'),
			(5, 'Major Collector'),
			(6, 'Minor Collector'),
			(7, 'Local')
		) q (Code, Descr)
END
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetMobilityImprovementDegree]    Script Date: 6/17/2024 1:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspUIGetMobilityImprovementDegree] 
AS
BEGIN
	SET NOCOUNT ON;

    SELECT * FROM (
		VALUES (2, 'Large'), (1, 'Small'), (0, 'None')
		) q (Code, Descr)
END
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetRoutes]    Script Date: 6/17/2024 1:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspUIGetRoutes]
	@District INT,
	@Cnty INT
AS
BEGIN
	SET NOCOUNT ON;

    SELECT DISTINCT([Route]) AS Rte FROM TblMaintainableAssetSegmentation WITH (NOLOCK)
	WHERE District=@District AND Cnty=@Cnty
	ORDER BY 1
END
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetSectionPairs]    Script Date: 6/17/2024 1:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspUIGetSectionPairs]
	@District INT,
	@Cnty INT,
	@Route INT,
	@Direction BIT
AS
BEGIN
	SET NOCOUNT ON;

    SELECT FromSection, ToSection, CONVERT(VARCHAR(10),FromSection)+'-'+CONVERT(VARCHAR(10),ToSection) AS FromTo
	FROM TblMaintainableAssetSegmentation WITH (NOLOCK)
	WHERE District=@District AND Cnty=@Cnty AND [Route]=@Route AND Direction=CONVERT(TINYINT,@Direction)
	ORDER BY FromSection
END
GO
/****** Object:  StoredProcedure [dbo].[UspUIGetWorkTypes]    Script Date: 6/17/2024 1:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UspUIGetWorkTypes] 
AS
BEGIN

	SET NOCOUNT ON;
	
	 SELECT * FROM (VALUES
		('Safety'),
		('Mobility'), 
		('Capacity Adding'), 
		('Under Clearance'), 
		('Congestion'), 
		('Preservation'), 
		('Rehabilitation'), 
		('Maintenance')
	) AS q (WorkType)
END
GO
