USE [DSS]
GO
/****** Object:  View [dbo].[VwReportWorkCandidateSummary]    Script Date: 7/4/2024 3:22:45 PM ******/
DROP VIEW [dbo].[VwReportWorkCandidateSummary]
GO
/****** Object:  View [dbo].[VwReportWorkCandidateDetail]    Script Date: 7/4/2024 3:22:45 PM ******/
DROP VIEW [dbo].[VwReportWorkCandidateDetail]
GO
/****** Object:  View [dbo].[VwReportWorkCandidateDetail]    Script Date: 7/4/2024 3:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
CREATE VIEW VwReportWorkCandidateSummary AS
SELECT w.PoolId, w.Treatment, COUNT(1) AS Candidates, AVG(Cost)/1000 AS AvgCost000
	, AVG(Safety_Score) AS AvgSafetyScore
	, AVG(Mobility_and_Access_Score) AS AvgMobilityScore
	, AVG(Equity_and_Access_Score) AS AvgEquityScore
	, AVG(Resilience_and_Environment_Score) AS AvgResilienceScore
	, AVG(Condition_and_Performance_Score) AS AvgConditionScore
	, MIN(p.RelativeEfficiency) AS MinRelativeEfficiency
	, MAX(p.RelativeEfficiency) AS MaxRelativeEfficiency
	, AVG(p.RelativeEfficiency) AS AvgRelativeEfficiency
FROM TblWorkCandidates w
INNER JOIN TblProjectCandidates p
ON p.Id=w.ProjectCandidateId
GROUP BY w.PoolId, w.Treatment;
*/

CREATE VIEW [dbo].[VwReportWorkCandidateDetail] AS
SELECT w.PoolId, w.Id AS WorkCandidateId, w.[Description], w.Cost/1000 AS Cost000
	, Safety_Score AS SafetyScore
	, Mobility_and_Access_Score AS MobilityScore
	, Equity_and_Access_Score AS EquityScore
	, Resilience_and_Environment_Score AS ResilienceScore
	, Condition_and_Performance_Score AS ConditionScore
	, TotalScaledBenefit/1000 AS Benefit000
	, RelativeEfficiency
FROM TblWorkCandidates w
INNER JOIN TblProjectCandidates p
ON p.Id=w.ProjectCandidateId
GO
/****** Object:  View [dbo].[VwReportWorkCandidateSummary]    Script Date: 7/4/2024 3:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VwReportWorkCandidateSummary] AS
SELECT w.PoolId, w.Treatment, COUNT(1) AS Candidates, AVG(Cost)/1000 AS AvgCost000
	, AVG(Safety_Score) AS AvgSafetyScore
	, AVG(Mobility_and_Access_Score) AS AvgMobilityScore
	, AVG(Equity_and_Access_Score) AS AvgEquityScore
	, AVG(Resilience_and_Environment_Score) AS AvgResilienceScore
	, AVG(Condition_and_Performance_Score) AS AvgConditionScore
	, MIN(p.RelativeEfficiency) AS MinRelativeEfficiency
	, MAX(p.RelativeEfficiency) AS MaxRelativeEfficiency
	, AVG(p.RelativeEfficiency) AS AvgRelativeEfficiency
FROM TblWorkCandidates w
INNER JOIN TblProjectCandidates p
ON p.Id=w.ProjectCandidateId
GROUP BY w.PoolId, w.Treatment
GO
