USE [DSS]
GO
/****** Object:  StoredProcedure [dbo].[UspGetScenarioResultsForGIS]    Script Date: 7/16/2024 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[UspGetScenarioResultsForGIS] 
	@ScenId UNIQUEIDENTIFIER,
	@EffThreshold FLOAT = 0
AS
BEGIN
	SET NOCOUNT ON;

	PRINT 'UspGetScenarioResultsForGIS @ScenId=[' + CONVERT(VARCHAR(100),@ScenId) + '], @EffThreshold=' + CONVERT(VARCHAR(20),@EffThreshold) + ' - started...';

	DECLARE @PoolId UNIQUEIDENTIFIER = (SELECT PoolId FROM TblScenarios WITH (NOLOCK) WHERE Id=@ScenId);
	PRINT '@PoolId=[' + CONVERT(VARCHAR(100),@PoolId) + ']';

	SELECT TOP 1 ScenNo, ScenName, [Description], PoolName, [User], LastRun 
	FROM (
		SELECT s.Id AS ScenId, ROW_NUMBER() OVER(ORDER BY s.Id) AS ScenNo,
		s.ScenName, s.[Description], p.[Name] AS PoolName, u.[Name] AS [User], 
		LastRun = (SELECT TOP 1 EndedAt FROM  TblScenarioRunsLog r WITH (NOLOCK) WHERE r.ScenId=s.Id AND [Status]='Success' AND EndedAt IS NOT NULL ORDER BY RunNo DESC)
		FROM TblScenarios s WITH (NOLOCK)
		INNER JOIN TblUserPools p WITH (NOLOCK)
			ON p.Id=s.PoolId
		LEFT OUTER JOIN AbpUsers u WITH (NOLOCK)
		ON u.Id=p.UserId
		) q 
	WHERE q.ScenId=@ScenId;

	SELECT p.Id AS [ProjectId]
		, ROW_NUMBER() OVER (ORDER BY p.Id) AS ProjectNo
		, COALESCE(t.[Name],'DSS') AS [PlanningPartner]
		, p.District AS [District]
		, p.Cnty AS [Cnty]
		, c.County
		, p.[Description]
		, p.Treatment
		, p.YearEarliest AS [MinYear]
		, p.YearLatest AS [MaxYear]
		, NumPave = (SELECT COUNT(1) FROM TblWorkCandidates w WHERE w.ProjectCandidateId = p.Id AND w.AssetType='P')
		, NumBridge = (SELECT COUNT(1) FROM TblWorkCandidates w WHERE w.ProjectCandidateId = p.Id AND w.AssetType='B')
		, TotalCost AS [Cost]
		, TotalScaledBenefit AS [Benefit]
		, RelativeEfficiency AS [Efficiency]
	FROM TblProjectCandidates p WITH (NOLOCK)
	INNER JOIN TblUserPools up WITH (NOLOCK )
		ON up.Id = p.PoolId
	LEFT OUTER JOIN TblCounties c WITH (NOLOCK)
		ON c.Cnty=p.Cnty
	LEFT OUTER JOIN AbpUsers u WITH (NOLOCK)
		ON u.Id=up.UserId
	LEFT OUTER JOIN AbpTenants t WITH (NOLOCK)
		ON t.Id = u.TenantId
	WHERE (@PoolId IS NULL OR p.PoolId=@PoolId)
	  AND (@EffThreshold IS NULL OR ISNULL(p.RelativeEfficiency,0) >= @EffThreshold)
	ORDER BY RelativeEfficiency DESC, TotalCost DESC, District, Cnty, p.Id;

	SELECT   w.ProjectCandidateId AS [ProjId]
		,w.Id AS [TreatId]
		, ROW_NUMBER() OVER (ORDER BY w.Id) AS TreatNo
		,t.[Name] AS [Partner]
		,w.AssetType
		,w.Treatment AS TreatmentType
		,w.[Description] AS TreatmentName
		,w.District
		,w.Cnty
		,c.County
		,w.[Route]
		,w.FromSection AS [FromSection]
		,w.ToSection AS [ToSection]
		,w.BRKEY
		,w.BRIDGE_ID AS [BMSID]
		,COALESCE(m.Asset, CONVERT(VARCHAR(10),w.Cnty) + '_' + CONVERT(VARCHAR(10),w.[Route])+ '_' 
			+ CONVERT(VARCHAR(10), w.[FromSection]%2) + '_' + CONVERT(VARCHAR(10), w.FromSection) + '-' + CONVERT(VARCHAR(10), w.ToSection)) AS [CRS]
		,COALESCE(m.Direction, w.FromSection%2) AS [Direction]
		,w.[Year] AS [Year]
		,w.Cost  AS [Cost]
		,w.Predicted_Scaled_Benefit AS [Benefit]
	    ,CASE WHEN w.Cost <= 0 THEN 0 ELSE w.Predicted_Scaled_Benefit/w.Cost END AS [BCRatio]
	FROM TblWorkCandidates w WITH (NOLOCK)
	INNER JOIN TblProjectCandidates p WITH (NOLOCK)
		ON p.PoolId=w.PoolId AND p.Id = w.ProjectCandidateId
    INNER JOIN TblCounties c WITH (NOLOCK)
		ON c.Cnty = w.Cnty
	LEFT OUTER JOIN TblMaintainableAssetSegmentation m WITH (NOLOCK)
		ON m.District=w.District
	   AND m.Cnty=w.Cnty
	   AND m.[Route]=w.[Route]
	   AND m.FromSection=w.FromSection
	   AND m.ToSection=w.ToSection
	INNER JOIN TblUserPools up WITH (NOLOCK )
		ON up.Id = p.PoolId
	LEFT OUTER JOIN AbpUsers u WITH (NOLOCK)
		ON u.Id=up.UserId
	LEFT OUTER JOIN AbpTenants t WITH (NOLOCK)
		ON t.Id = u.TenantId
	WHERE (@PoolId IS NULL OR w.PoolId = @PoolId )
	  AND (@EffThreshold IS NULL OR ISNULL(p.RelativeEfficiency,0) >= @EffThreshold)
	ORDER BY w.ProjectCandidateId, w.Id

	PRINT 'UspGetScenarioResultsForGIS @ScenId=[' + CONVERT(VARCHAR(100),@ScenId) + '], @EffThreshold=' + CONVERT(VARCHAR(20),@EffThreshold) + ' - ended.';
END
