@page
@model DSS.Web.Pages.ImportScreen.IndexModel
@{
    Layout = "Shared/AdminLayout";
    ViewData["Menu"] = "DSSAdminMenus.ImportScreen";
}

<div class="container-fluid mt-4" style="margin-left:5%">
    <h1 class="mt-4 mb-5">Import Screen</h1>

    <h4>Click Button to Import Your Desired Data</h4>
    <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#importcandiates">
        Import B2P CrossWalks
    </button>

    <div class="modal fade" id="importcandiates" tabindex="-1" role="dialog" aria-labelledby="importtreatmentlabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editlibraryheader">Import Bridge Pavments</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="treatmentimportform" class="needs-validation" method="post" enctype="multipart/form-data" novalidate asp-page-handler="ImportBridgePavments">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="libraries" class="form-label">Import Bridge Pavments </label>
                            <input class="form-control" type="text" name="candidatepool_name" id="candidatepool_name" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Excel File</label>
                            <input class="form-control" type="file" id="excelfile" name="excelfile" required
                                   accept=".xlsx,.xls">
                            <div id="excelvalidation" class="invalid-feedback">Field is required</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Import</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#openAssetSegmentationModal">
        Import MAS
    </button>

    <div class="modal fade" id="openAssetSegmentationModal" tabindex="-1" role="dialog" aria-labelledby="openAssetSegmentationLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="openAssetSegmentationLabel">Import Asset Segmentation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="treatmentimportform" class="needs-validation" method="post" enctype="multipart/form-data" novalidate asp-page-handler="ImportAssetSegmentation">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="libraries" class="form-label">Import MaintainAble AssetSegmentation </label>
                            <input class="form-control" type="text" name="candidatepool_name" id="candidatepool_name" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Excel File</label>
                            <input class="form-control" type="file" id="excelfile" name="excelfile" required
                                   accept=".xlsx,.xls">
                            <div id="excelvalidation" class="invalid-feedback">Field is required</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Import</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
