@page
@model DSS.Web.Pages.AboutModel
@{
}
@{
    Layout = "Shared/Layout";
    ViewData["Menu"] = "DSSMenus.About";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">About</h1>
    
    <div class=" mb-4">
        <div class="" style="font-size:20px;">
            DecisionSpace is an analysis tool designed to support and automate the process of selecting work items from diverse sources with multiple uncorrelated benefit metrics. 
            <br />
            <br />
            The system
            takes in work items from multiple sources, calculates benefits based on existing research and business logic, and ranks work based on benefit and user-defined parameters.
        </div>
    </div>

</div>