@page
@model DSS.Web.Pages.GuestIndexModel
@{
    Layout = "Shared/TopBarLayout";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            color: white !important;
            
           
        }

        .bottom-50 {
            position: relative;
            top: 50px;
            text-align: center;
            margin-top: 50px!important;
        }
    </style>
</head>

<body>
    <div class="bottom-50">
        <h1 style="font-size:60px;">Welcome!</h1>
        <h2 style="padding-left:300px; padding-right:300px;">We are delighted to have you here as our guest user.</h2>
        <h2 style="padding-left:300px; padding-right:300px;">Currently, you are not allowed to have access to any of the functionalities.</h2>
        <h2 style="padding-left:300px; padding-right:300px;">Contact the administrator for further assistance!</h2>
    </div>
</body>


